# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual environment
.env
.env.local
.env.production.local
.env.development.local
.venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Backup
*.bak
*.old
*.orig